:root {
    --lightBlue: #C7EBFF;
    --mediumBlue: #438FFC;
    --deepBlue: #18277C;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #2e3f4d;
}

::-webkit-scrollbar-thumb {
    background: #2ea5fa;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

input {
    font-family: 'Rubik', sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerLottie {
    width: 40rem;
    margin-left: -8rem;
}

#headerText>div:nth-of-type(1) {
    font-size: 1.5rem;
}

#headerText>div:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

#headerText>div:nth-of-type(3) {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -0.4rem;
    color: var(--deepBlue);
}

#headerCardWrap {
    margin-top: 1rem;
    display: flex;
    gap: 0.75rem;
}

.headerCard {
    background: linear-gradient(200deg, #8ae0fa 0%, #3187ff 100%);
    width: fit-content;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    color: white;
    border: 0.15rem solid #ffffff;
    box-shadow: 0 0.5rem 0rem var(--mediumBlue);
}

.headerCard img {
    width: 2rem;
    margin-right: 0.2rem;
    margin-bottom: -0.2rem;
}

.headerCard>div:nth-of-type(2) {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0.2rem;
}

.optionsCard {
    background: linear-gradient(200deg, #8ae0fa 0%, #3187ff 100%);
    width: fit-content;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    border: 0.15rem solid #ffffff;
    box-shadow: 0 0.5rem 0rem var(--mediumBlue);
    width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

#setBudget {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}


.inputWrap input {
    outline: none;
    border: none;
    border-radius: 0.3rem 0 0 0.3rem;
    padding: 0.5rem;
    width: 7rem;
}

.inputWrap {
    display: flex;
}

.inputWrap div {
    background: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0 0.3rem 0.3rem 0;
    border-left: 0.15rem solid rgb(232, 232, 232);
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--mediumBlue);
}

.buttonIcon {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background: white;
    padding: 0.6rem 0.8rem;
    border-radius: 0.3rem;
    color: #1f6fdd;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0.3rem 0 #1f6fdd;
    border: 0.15rem solid #1f6fdd;
    transition: .3s;
}

.buttonIcon img {
    width: 1.2rem;
}

.buttonIcon:hover {
    box-shadow: 0 0rem 0 #1f6fdd;
    transform: translateY(0.25rem);
}

#addExpense {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
}

.inputWrap input {
    width: 15rem;
}

#separator {
    height: 12rem;
    width: 0.1rem;
    background: rgba(255, 255, 255, 0.2);
}


@media (max-width: 1320px) {
    #header {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    #headerLottie {
        margin-left: 0rem;
    }

    .optionsCard {
        flex-direction: column;
        width: 90%;
        box-sizing: border-box;
    }

    #separator {
        width: 100%;
        height: 0.15rem;
        background: rgba(255, 255, 255, 0.2);
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 650px) {
    #headerCardWrap {
        flex-direction: column;
        gap: 1rem;
    }

    .headerCard {
        width: 100%;
        box-sizing: border-box;
    }

    #headerText {
        width: 90%;
    }

    #headerText>div:nth-of-type(3) {
        margin-top: 0.2rem;
        line-height: 2.5rem;
    }

    #headerLottie {
        width: 100%;
    }

    .inputWrap,
    .inputWrap input {
        width: 100%;
        max-width: 80vw;
    }

    #setBudget,
    #addExpense {
        width: 100%;
    }
}

.expensesList {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.expensesList table {
    width: 79.5rem;
    border-collapse: collapse;
}

.expensesList thead {
    background: linear-gradient(200deg, #8ae0fa 0%, #3187ff 100%);
    border: 0.15rem solid #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0rem var(--mediumBlue);
    color: white;
}

.expensesList th,
.expensesList td {
    padding: 1rem 0.5rem;
    text-align: left;
}

.expensesList input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.expensesList tbody>tr:nth-of-type(1)>td {
    padding-top: 1.6rem;
}

.expensesList tbody {
    color: black;
    border-bottom: 0.3rem solid var(--mediumBlue);
}

.expensesList tbody>tr {
    border-bottom: 0.15rem solid rgba(0, 0, 0, 0.1);
}

.tableBtns button {
    padding: 0;
    background: none;
    outline: none;
    border: none;
}

.tableBtns img {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    background: #1f6fdd;
    padding: 0.7rem;
    border-radius: 0.3rem;
    transition: 0.5s;
    will-change: transform;
}

.tableBtns img:hover {
    transform: scale(0.95);
}

.tableBtns {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 1320px) {
    .expensesList table {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .tableBtns {
        flex-direction: column;
    }

    .expensesList tr>td:nth-of-type(2) input {
        width: 2.5rem;
    }

    .expensesList tr>td:nth-of-type(3) input {
        width: 4rem;
    }
}

#btnsIconWrap {
    display: flex;
    gap: 0.5rem;
}

#footer {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #128bd6;
}

#setBudgetError,
#setExpenseError {
    display: none;
}

#footerBtnsWrap {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}